* {
  padding: 0;
  margin: 0;
}

body {
  margin: 1em;
}

div {
  border: 1px solid ;
}

p {
  margin-inline: 30%;
  font-weight: bold;
  background-color: coral;
}

.container {
  padding: 3px;
  border: 1px solid;
}

.box
{
  padding: 1em 0;
  border: 1px solid;
}